[submodule "ikanyue.taro3"]
	path = ikanyue.taro3
	url = git@github.com:imatrixme/ikanyue.taro3.git
	branch = release/2.0.0
[submodule "ikanyue.mapi.hono"]
	path = ikanyue.mapi.hono
	url = git@github.com:imatrixme/ikanyue.mapi.hono.git
	branch = release/2.0.0
[submodule "ikanyue.flutter"]
	path = ikanyue.flutter
	url = git@github.com:imatrixme/ikanyue.flutter.git
	branch = douyin
[submodule "ikanyue.m.nuxt"]
	path = ikanyue.m.nuxt
	url = git@github.com:imatrixme/ikanyue.m.nuxt.git
	branch = master
[submodule "ikanyue.admin"]
	path = ikanyue.admin
	url = git@github.com:imatrixme/ikanyue.admin.git
	branch = release/2.0.0
[submodule "ikanyue.website"]
	path = ikanyue.website
	url = git@github.com:imatrixme/ikanyue.website.git
	branch = release/2.0.0
